@import "setup.css";

body {
  background-color: oldlace;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

h1 {
  bottom: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  z-index: 50;
}

main {
  height: 100vw;
  min-height: 375px;
  position: relative;
}

main img {
  max-height: 100%;
  position: absolute;
  max-width: 100%;
}

aside {
  flex-grow: 1;
}

aside div {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
}

aside button {
  margin: 0 10px;
  padding: 10px 0;
  width: 100%;
}

@media (min-width: 1149px) {
  body {
    flex-direction: row;
  }
  main {
    height: auto;
    width: 100vh;
  }
}
