@import "setup.css";

/* universal */
body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

/* main -- picture */
main {
  height: 100vw;
  flex-shrink: 0;
  min-height: 375px;
  position: relative;
}

h1 {
  bottom: 0;
  font-size: 1.4rem;
  opacity: 0.25;
  padding: 20px;
  position: absolute;
  right: 0;
  z-index: 50;
}

main img {
  max-height: 100%;
  position: absolute;
  max-width: 100%;
}

/* aside -- selection */
aside {
  flex-grow: 1;
  padding: 5px;
}

.layerTabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2px;
}

.layerTabs input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.layerTabs input:checked + label {
  background-color: transparent;
  font-weight: bold;
}

label.tab {
  background: ghostwhite;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  font-size: 0.9rem;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.layerChoices {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  /* overflow-y: scroll; */
  padding: 0;
}

.layerChoices button {
  background: rgba(0, 0, 0, 0.025);
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.layerChoices img {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 100vh) {
  body {
    flex-direction: row;
  }
  main {
    height: auto;
    width: 100vh;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  aside {
    padding: 10px;
  }
  label.tab {
    font-size: 1.1rem;
  }
}
